
body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    font-family: 'Kanit', sans-serif;  
}

.name{
    color: chocolate;
}

.flex-sec{
    display: flex;
    margin-bottom: 100px;
}
.half-w{
    width: 50%;
    padding-left:5%;
}

.half-w img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 20px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat ;
}
.middel{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}